.Select-control{
	border: 0px solid #fff;
}
.Select-input{
	padding-left: 0px;
	padding-right: 10px;
	width: 100%;
}
.tab{
    margin-top: 30px;
}
.tab .nav-tabs{
    border:none;
    border-bottom: 1px solid #e4e4e4;
}
.nav-tabs li a{
    padding: 15px 40px;
    border:1px solid #ededed;
    border-top: 2px solid #ededed;
    border-right: 0px none;
    background: #f5f5f5;
    color:#555;
    border-radius: 0px;
    margin-right: 0px;
    font-weight: bold;
    transition: all 0.3s ease-in 0s;
}
.nav-tabs li a:hover{
    border-bottom-color: #ededed;
    border-right: 0px none;
    background: #00A699;
    color: #fff;
}
.nav-tabs li a i{
    display: inline-block;
    text-align: center;
    margin-right:10px;
}
.nav-tabs li:last-child{
    border-right:1px solid #ededed;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover{
    border-top: 3px solid #f5f5f5;
    border-right: 1px solid #d3d3d3;
    margin-top: -15px;
    color: #444;
    padding: 22px 40px;
}
.tab .tab-content{
    padding: 20px;
    line-height: 22px;
}
.tab .tab-content h3{
    margin-top: 0;
}
#date-mid-2{
	margin-left: 5%;
    margin-top: 3%;
    width: 90%;
}
.btn-1{
	background-color: #ccc;
	width: 100%;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 10px 18px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
}
.Slect_stations{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 115%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
}
.sta_content{
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 780px; 
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.arrow_contour{
    font-size:18px;
}
.loading{
    width: 972px;
    height: 560px;
    background-color: white;
    position: absolute;
    left: -9.5%;
    z-index: 2;
}
.spanValue{
    width: 70px;
}
.btn-2{
    float: right;
}